body {
  font-family: sans-serif;
	font-size: 11px;
  background: #FFF8C9;
}

html {
  height: 500px;
}

select, input {
  border: 1px solid #333;
	font-size: 11px;
  padding: 1px;
	background: #fff;
}

a, a:visited {
  color: #333;
}

#bubble-selects div {
  display: block;
}
